body {
    background-color: #191919;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    padding-bottom: 20px;
    overflow: hidden;
}

@media screen and (min-width: 992px) {
    .container-wrapper {
        margin-top: 48px;
        position: relative;
    }
    
    .video-wrapper {
        height: 100vh;
        position: relative;
        vertical-align: center;
    }
    
    .video-iframe {
        position: relative;
    }
    
    .chat-iframe {
        height: 100vh;
        margin-top: -48px;
        position: relative;
        z-index: 2000;
        top: 0;
        right: 0;
        box-shadow: 15px 15px 15px rgba(0, 0, 0, 1);
    }
    
    .row .col-80-percent {
        width: 80% !important;
      }
    
    .row .col-20-percent {
        width: 20%;
    }
    
    .donate-button {
        margin-right: 21.5%;
        padding: 6px 16px 4px 16px;
        margin: 2px 21.5% 2px 0 !important;
    }
    
    .navbar {
        height: 48px;
    }
    
    .nav-item {
        margin-right: 5px;
    }
    
    .ui-absolute {
        position: absolute;
        z-index: 2010;
        color: #fff !important;
        text-decoration: none !important;
    }
    
    .ui-absolute .toggle-night {
        top: 12px;
        right: 48px;
    }
    
    .ui-absolute .toggle-theater {
        top: 12px;
        right: 88px;
    }
    
    .ui-absolute .toggle-fullscreen {
        top: 12px;
        right: 128px;
    }
    
    .ui-absolute .toggle-popout {
        top: 12px;
        right: 168px;
    }
    
    .ui-absolute .viewer-count {
        bottom: 16px;
        right: 0;
        width: 282px;
        color: rgba(255, 255, 255, 0.54) !important;
    }
    
    .btn-ui {
        margin-top: -4px;
        background-color: #1e1e1e;
        border-radius: 50%;
        padding: 3px 7px;
        box-shadow: 0 4px 0 0 #0f0f0f;
    }
    
    .btn-ui .fa {
        color: #BFBFBF;
    }
    
    .btn-ui:hover {
        background-color: #0f0f0f;
        box-shadow: 0 4px 0 0 #0a0a0a;
    }
    
    
    .btn-ui:hover .fa {
        color: #a7a7a7;
    }
    
    .sub-button {
        margin-top: 8px !important;
        margin-right: 20px  !important;
    }
    
    .credits {
        position: absolute;
        bottom: 1px;
        left: 5px;
        color: #A2A2A2;
        font-size: 12px;
        z-index: 99;
    }
}

@media screen and (max-width: 992px) {
    .desktop-view {
        display: none;
    }

    .flex-wrapper {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    
    .chat {
        /* height: 100%; */
        width: 100%;
        flex: 2 1 0;
        overflow: auto;
        background: #212121;
    }
    
    .header {
        height: 56.25vw;
        width: 100%;
        background: #000;
        position:relative !important;
        bottom: 0 !important;
        top :auto !important;
    }
    
    .video-container {
        position: relative;
        height: 100%;
        overflow: hidden;
        width: auto;
    }
    
    .video-iframe {
        width: 100%;
        height: 100%;
    }

    .donate-button-mobile {
        margin: 0 !important;
        border-radius: 0;
    }
}
